.pad {
    width: 80vw;
    aspect-ratio: 3/4.17;
    background-color: transparent;
    perspective: 1800px; /* Enables 3D effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.page {
    width: 80vw;
    display: flex;
    aspect-ratio: 3/4.17;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform-origin: left center; /* Flip from the spine */
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    font-size: 20px;
    color: black; 
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;background-color: palegoldenrod;
    box-shadow: -2px -2px 10px white, 2px 2px 10px black;

}

.page.flipped {
    transform: rotateY(-95deg); /* Flip the page horizontally */
}


.page img{

    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #002a6f,#00307c );   
    color: white;
    border: solid 2px #c3a547;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border-radius: 10px;
    box-shadow: -2px -2px 5px white, 2px 2px 5px black;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-image: linear-gradient(to right,  #cccccc, #cccccc);
    border: solid 2px  #cccccc;
    cursor: not-allowed;
}

.prev-button img {
    rotate: 180deg;
}
